.filterBlock {
  border-radius: 12px;
  border: 1px solid #E5E5E5;

  &__title {
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    color: #121212;
    margin: 32px 0;
  }

  &__label {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #999;
  }

  &__label-name {
    margin: 0 0 7px 0;
  }

  &__label-age {
    margin: 0 0 16px 0;
  }

  &__label-gender {
    margin: 0 0 7px 0;
  }

  &__label-sort {
    margin: 0 0 7px 0;
  }

  &__input {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #999;
    border: 1px solid #121212;
    border-radius: 12px;
    padding: 14px;
    margin-bottom: 24px;
  }

  &__rangeTitle {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #333;
    margin: 0 0 24px 0;
  }
}

.usersList {
  &__title {
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    color: #121212;
    margin: 32px 0;
  }

  &__item {
    list-style: none;
    padding: 0;
  }

  &__container {
    height: 680px;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 2px;
    background-color: #FFF;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__info {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.02em;
    margin: 0 0 7px 0;
  }

  &__image {
    border-radius: 12px;
    height: 85px;
  }

  &__name {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.02em;
    margin: 0;
    margin: 0 0 2px 0;
  }

  &__birth {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #999;
    margin: 0 0 2px 0;
  }
}

.paginationList {
  display: flex;
  align-items: center;
  padding: 8px 18px;
  gap: 3px;
  padding: 0;

  &__item {
    list-style: none;
  }

  &__button {
    font-family: 'Poppins';
    background: #FFFFFF;
    border: 1px solid #121212;
    border-radius: 24px;
    padding: 8px 14px;
    cursor: pointer;

    &:hover {
      background: #ECD3FA;
      border: 1px solid #52228C;
      color: #52228C;
    }
  }

  &__button-nav {
    width: 110px;
  }

  &__button-decor {
    &:hover {
      background: #dbdadb;
      border: 1px solid #121212;
      color: #121212;
    }
  }

  &__button-active {
    background: #ECD3FA;
    border: 1px solid #52228C;
    color: #52228C;
  }

  &__select {
    width: 80px;
    height: 37px;
    background: #FFFFFF;
    border: 1px solid #121212;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
    font-family: 'Poppins';
  }

  &__option {
    font-family: 'Poppins';
    background: #FFFFFF;
    border: 1px solid #121212;
  }
}

.modal {
  &__input {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #999;
    border: 1px solid #121212;
    border-radius: 12px 0px 0px 12px;
    padding: 14px;
    width: 307px;
    height: 52px;
    box-sizing: border-box;
    background-color: #F3F3F3;
  }

  &__input-active {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #121212;
    background-color: #FFF;
    border: 1px solid #121212;
    border-radius: 12px 0px 0px 12px;
    padding: 14px;
    width: 307px;
    height: 52px;
    box-sizing: border-box;
  }

  &__name {
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    color: #121212;
    max-width: 200px;
    margin: 16px 0 1px 0
  }

  &__editButton {
    background-color: #52228C;
    width: 143px;
    border-radius: 0px 12px 12px 0px;
    border: none;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
  }

  &__image {
    border-radius: 100px;
    height: 200px;
  }

  &__userInfo {
    text-align: center;
    margin-right: 48px;
  }

  &__birth {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #999999;
    margin: 1px 0 3px 0;
  }
}

.userCard {
  padding: 24px;
  margin-bottom: 8px;
  border-radius: 12px;
  border: 1px solid #E5E5E5;

  &-grab {
    cursor: grab;
  }
}